body{
    background-image: url("books.gif");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: forte;
    background-attachment: fixed;
}

@font-face{
    font-family: forte;
    src: url("FORTE.TTF");
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: rgb(39, 142, 190);
  }
  
  .active {
    background-color: rgb(211, 90, 20);
  }

.buttons {
    background-image: url("abstract_art_black_and_white_red.gif");
    border-radius: 40px;
    font-family: forte;
    color: whitesmoke;
    font-size: 34px;
    padding: 10px 10px 10px 10px;
    border-width: 0px;
    width: 100%;
}

.info {
    background-color: whitesmoke;
    border-radius: 40px;
    font-family: forte;
    color: darkblue;
    border-color: black;
    font-size: 36px;
    padding: 10px 10px 10px 10px;
    border-width: 4px;
    width:100%;
}

.gender {
    border-radius: 40px;
    font-family: forte;
    color: black;
    font-size: 36px;
    padding: 10px 10px 10px 10px;
    
}

.title{
    font-family:forte;
    color: darkblue;
    font-size: 36px;
}

.intro{
    font-family:forte;
    color: whitesmoke;
    font-size: 36px;
}

.post{
    font-family:forte;
    color: darkblue;
    font-size: 36px;
    background-image: url("BlueAbstractWallpapershd.gif");
    background-attachment: fixed;
    border: 4px solid black;
    border-radius: 40px;
    padding: 5px 5px 5px 5px;
}

.page_title{
    font-family:forte;
    color: black;
    font-size: 36px;
}