<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
        <ul>
            <li><a href="{{url_for('homepage')}}">Home</a></li>
            <li><a class="active" href="{{url_for('post')}}">Post</a></li>
            <li><a href="{{url_for('profile')}}">Profile</a></li>
            <li><form method="POST" action="/logout">
            <a href="{{url_for('logout')}}">Log Out</a></form></li>
        </ul>
    </head>
    <body>
        
        <center>
            <form id="add" method="POST" action="/post">
                <table width="40%">
                    <tr><td><center><h1 class="page_title">Post an Article</h1></center></td></tr>
                    <tr><td><input type="text" name="atitle" placeholder="Article Title" class="info" required></td></tr>
                    <tr><td><textarea name="content" placeholder="Write your article here" class="info" required></textarea></td></tr>
                    <tr><td><button type="submit" value="post" class="buttons">Post</button></td></tr>
                    <tr><td><h3>{{note}}</h3></td></tr>
                </table>
            </form>
        </center>
    </body>
</html>