<html>
    <head>

    </head>
    <body>
        <h1>Sign Up</h1>
        <form id="lol" method="POST" action="/signup">
        <input type="text" name="fname" placeholder="First Name"><br>
        <input type="text" name="lname" placeholder="Last Name"><br>
        <input type="number" name="age" placeholder="Age"><br>
        <input type="radio" name="gender" value="Male">Male<br>
        <input type="radio" name="gender" value="Female">Female<br>
        <input type="text" name="email" placeholder="Email"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <button type="submit" value="Sign Up">Sign Up</button>
    </form>
    </body>
</html>