<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
        <title>Welcome</title>
    </head>
    <body>
        <center>
            <h1 class="title" style="color: white">Welcome to Online Learning.</h1>
            <p class="intro" style="color: black">This website is dedicated for students who are curious to learn unique subjects
                that interest them,not familiar with them, helps them in learning other subjects 
                or they just need help in understanding them. Sign up as a teacher or as a student
                and enjoy my website :D.
            </p>
            <form id="navigation" method="POST" action="/welcome">
                <table width="30%">
                    <tr><td><select name="choice" class="info">
                        <option value="teacher">Teacher</option>
                        <option value="student">Student</option>
                        <option value="empty">I already have an account</option>
                    </select></td></tr>
                    <tr><td><button type="submit" value="proceed" class="buttons">Proceed</button></td></tr>
                </table>
            </form>
        </center>
    </body>
</html>